/*główny plik CSS określający wygląd wszystkich stron*/
/*na stałe zmienia wielkość marginesów i paddingów na 0*/
html, body {
	margin: 0 !important;
	padding: 0 !important;
}
/*ustawie system wyświetlania w #main na grid i go dzieli na części*/
#main {
	display: grid;
	grid-template-columns: 25vw auto 25vw;
	grid-template-rows: 15vh 10vh 65vh 10vh;
}
/*ustawia pozycje i kolor loga na kolor zielony */
#logo {
	background: green;
	grid-row: 1;
	grid-column: 1;
}
/*ustawia pozycje i kolor paska tytułowego na żółty*/
#title {
	background: yellow;
	grid-row: 1;
	grid-column: 2;
}
/*ustawia pozycje i kolor paska logowania na pomarańczowy*/
#login {
	background: orange;
	grid-row: 1;
	grid-column: 3;
}
/*ustawia pozycje i wygląd navi baru na czerwony*/
#nav {
	background: red;
	grid-row: 2;
	grid-column: 1 / 4;
}
/*ustawia pozycje i wygląd bocznego menu na niebieski*/
#submenu {
	background: blue;
	grid-row: 3;
	grid-column: 1;
}
/*ustawia pozycje i wygląd głównego kontentu na szary, ustawia sposób wyświetlania elementów na block-owy oraz definiuje co się stanie przy przepełnieniu obiektu*/
#content {
	background: gray;
	grid-row: 3;
	grid-column: 2;
	display: block;
	overflow-y: auto;
	grid-template-columns: repeat(3, 1fr);
}
/*col 1/2 ustawia pozycje obiektów*/
#col1 {
	grid-column: 1;
}

#col2 {
	grid-column: 2;
}
/*ustawia pozycje i kolor stopki na jasno szary*/
#foot {
	background: lightgray;
	grid-row: 4;
	grid-column: 1 / 4;
}
/*nadaje pozycje relatywną, warstwę 1, centruje text ora nadaje kolor ramki na żułty*/
.button {
	position: relative;
	z-index: 1;
	
	text-align: center;
	border: solid yellow 1px;
}
/*określa akcję po załadowaniu go na stronę. zmienia pozyje na absolutną zmienia wymiary oraz ustawia kolor na szary*/
.button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: gray;
}
/*zmienia wygląd kursora po najechaniu na element*/
.button:hover {
	cursor: pointer;
}

/*zmienia przezroczystość po po najechaniu na 0.6*/
.button:hover::before{
	opacity: 0.6;
}
/*wielkość zdjęć*/
figure.galeria img {
	width: 100%;
	height: auto;
}
