<!--kod służy do dodania obrazków na stronę w tym przypadku 2-->

<!--figure oznacza obraz w dokumęcie-->
<figure class="galeria">
	<!--img wstawia obrazek na stronę-->
	<img alt="TU POWINIEN BYĆ OBRAZEK" src="https://consumer-img.huawei.com/content/dam/huawei-cbg-site/cee-nordics/pl/support/support-v3/mobileservices/themes/themes-2.png"/>
	<!--figcaption dodaje opis do obrazka "figure" -->
	<figcaption>To jest jakiś interesujący obrazek...</figcaption>
</figure>
<figure class="galeria">
	<img alt="" src="./img/img2.jpg"/>
	<figcaption>To jest jakiś interesujący obrazek...</figcaption>
</figure>
