<!--cały dokument służy jako formularz kontaktowy z możliwością wprowadzenia imęnia, nazwiska, adresu e mail, krótkiej wiadomości i podania swojej płci oraz przyciskiem button który działa za pomocą JavaScript-->

<!--<form method="post" action="./php/main.php">-->

<div id="form">
	<!--implementacja kodu CSS w kodzie HTML
		element opisany w CSS to ramka koloru pomarańczowego dla input name=name-->
	<style>
		input[name="name"] {
			border-color: orange;
		}
	</style>

	<p><input type="text" name="name" placeholder="Podaj swoje imię"/></p>
	<p><input type="text" name="lastname" placeholder="Podaj swoje nazwisko"/></p>
	<p><input type="email" name="email" placeholder="Podaj swój email"/></p>
	<p><textarea name="content" placeholder="Wpisz treść"></textarea></p>

	<fieldset>
		<legend>Twoja płeć</legend>
		<p><input type="radio" name="sex" value="k"/><span>Kobieta</span></p>
		<p><input type="radio" name="sex" value="m"/><span>Mężczyzna</span></p>
		<p><input type="radio" name="sex" value="n" checked="checked"/><span>Nieokreślona</span></p>
	</fieldset>
	<button>Wyślij zapytanie</button>
</div>
<div id="output">

</div>

<!--</form>-->