<!--kod jest elementem informacyjnym strony znajduję się tu opis firmy/osoby prywatnej-->

<h2>Kilka słów o nas...</h2>
<p>Tutaj jest pierwszy akapit o naszych osiągnięciach</p>
<p>Tutaj jest kolejny akapit o naszej historii</p>
<p>Tutaj już nie wiem co napisać...</p>